* {
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 13px;
}

body {
  display: flex;
  flex-flow: column;
  position: relative;
  width: 100vw;
  height: 100vh;
}
body .container {
  display: flex;
  flex-flow: column;
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
body .container .navbar {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 11%;
  cursor: pointer;
}
body .container .navbar .icon {
  display: flex;
  width: 6%;
  height: 100%;
  justify-content: center;
  align-items: center;
}
body .container .navbar .icon img {
  width: 50%;
  height: 50%;
}
body .container .navbar .inicio {
  display: flex;
  font-weight: bold;
  width: 6%;
  height: 50%;
  background-color: black;
  color: white;
  border-radius: 20%/50%;
  justify-content: center;
  align-items: center;
}
body .container .navbar .button {
  display: flex;
  width: 6%;
  height: 50%;
  background-color: white;
  opacity: 0.5;
  font-weight: bold;
  color: black;
  border-radius: 20%/50%;
  justify-content: center;
  align-items: center;
}
body .container .navbar .button:hover {
  background-color: #e2e2e2;
}
body .container .navbar .searchbar {
  display: flex;
  width: 50%;
  height: 50%;
  background-color: #c9c9c9;
  border-radius: 3%/50%;
  text-align: center;
}
body .container .content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 90%;
  overflow: scroll;
}
body .container .content .column {
  display: flex;
  margin-right: 5px auto;
  flex-flow: column;
  width: 16%;
  height: auto;
  padding: 5px 0 5px 0;
  justify-content: center;
}
body .container .content .column .box {
  display: flex;
  margin-right: 5px auto;
  width: 100%;
  height: auto;
  padding: 5px 0 5px 0;
  justify-content: center;
}
body .container .content .column .box img {
  margin-right: 5px;
  border-radius: 20%/10%;
  height: auto;
}

@media (max-width: 1000px) {
  body .navbar {
    height: 8%;
  }
  body .navbar .inicio {
    width: 15%;
  }
  body .navbar .button {
    width: 15%;
  }
  body .navbar .searchbar {
    width: 20%;
  }
  body .container .content .column {
    width: 25%;
  }
}
@media (max-width: 800px) {
  body .container .navbar {
    height: 8%;
  }
  body .container .navbar .inicio {
    width: 15%;
  }
  body .container .navbar .button {
    width: 15%;
  }
  body .container .navbar .searchbar {
    width: 20%;
  }
  body .container .content .column {
    width: 33%;
  }
}
@media (max-width: 500px) {
  body .container .navbar {
    height: 8%;
  }
  body .container .navbar .inicio {
    width: 15%;
  }
  body .container .navbar .button {
    width: 15%;
  }
  body .container .navbar .searchbar {
    display: none;
  }
  body .container .content .column {
    width: 50%;
  }
}

/*# sourceMappingURL=main.css.map */
