*{
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 13px;
}

body{
    display: flex;
    flex-flow: column;
    position: relative;
    width: 100vw;
    height: 100vh;

    .container{
        display: flex;
        flex-flow: column;
        position: relative;
        width: 100vw;
        height: 100vh;
        overflow: hidden;
        // border: 1px solid green;
        .navbar{
            display: flex;
            flex-flow: row;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            height: 11%;
            cursor: pointer;
            // border: 1px solid red;
            .icon{
                display: flex;
                width: 6%;
                height: 100%;
                justify-content: center;
                align-items: center;
                img{
                    width: 50%;
                    height: 50%;
                }
            }
            .inicio{
                display: flex;
                font-weight: bold;
                width: 6%;
                height: 50%;
                background-color: rgb(0, 0, 0);
                color: white;
                border-radius: 20% / 50%;
                justify-content: center;
                align-items: center;
            }
            .button{
                display: flex;
                width: 6%;
                height: 50%;
                background-color: white;
                opacity: 0.5;
                font-weight: bold;
                color: black;
                border-radius: 20% / 50%;
                justify-content: center;
                align-items: center;
                &:hover{
                    background-color: rgb(226, 226, 226);
                }
            }
            .searchbar{
                display: flex;
                width: 50%;
                height: 50%;
                background-color: rgb(201, 201, 201);
                border-radius: 3% / 50%;
                text-align: center;
            }
        }
        .content{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 100%;
            height: 90%;
            overflow: scroll;

            .column{
                display: flex;
                margin-right: 5px auto;
                flex-flow: column;
                width: 16%;
                height: auto;
                padding: 5px 0 5px 0;
                // background-color: blue;
                justify-content: center;

                .box{
                    display: flex;
                    margin-right: 5px auto;
                    width: 100%;
                    height: auto;
                    padding: 5px 0 5px 0;
                    // background-color: blue;
                    justify-content: center;
                    img{
                        margin-right: 5px;
                        border-radius: 20% / 10%;
                        height: auto;
                    }
                }
            }
        }
    }
}

@media (max-width: 1000px){
    body{
        .navbar{
            height: 8%;
            .inicio{
                width: 15%;
            }
            .button{
                width: 15%;
            }
            .searchbar{
                width: 20%;
            }
        }
        .container{
            .content{
                .column{
                    width: 25%;
                }
            }
        }
    }
}

@media (max-width: 800px){
    body{
        
        .container{
            .navbar{
                height: 8%;
                .inicio{
                    width: 15%;
                }
                .button{
                    width: 15%;
                }
                .searchbar{
                    width: 20%;
                }
            }
            .content{
                .column{
                    width: 33%;
                }
            }
        }
    }
}

@media (max-width: 500px){
    body{
        
        .container{
            .navbar{
                height: 8%;
                .inicio{
                    width: 15%;
                }
                .button{
                    width: 15%;
                }
                .searchbar{
                    display: none;
                }
            }
            .content{
                .column{
                    width: 50%;
                }
            }
        }
    }
}